*.log
*.txt
!/spring-backend/inventory-service/curl_test.txt
!/spring-backend/inventory-service/test_py.txt
!/spring-backend/test_out.txt
!/spring-backend/api_test_out.json
!/spring-backend/curl_out.txt
!/auth-service/mytest_out.txt
!/auth-service/mytest_err.txt
!/auth-service/test_out.txt
!/auth-service/check_out.txt
!/auth-service/cleanup_out.txt
!/auth-service/final_dbs.txt
!/auth-service/import_log.txt
!/auth-service/left_out.txt
!/auth-service/out.txt
!/auth-service/out_all.txt
!/auth-service/pending_c.txt
!/auth-service/pending_result.txt
!/auth-service/result.txt
!/npx_out.txt
/frontend/build_log.txt
/frontend/curl_dev.txt
/frontend/dev_log.txt
/frontend/install_log.txt
/frontend/npm_install_log.txt
/spring-backend/inventory-service/inv_log.txt

